{% extends "schedules/base.html" %}

{% block title %}
    {% if is_edit %}
        Edit Event
    {% else %}
        Create Event
    {% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">
        {% if is_edit %}
            Edit Event
        {% else %}
            Create Event
        {% endif %}
    </h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">
            {% if is_edit %}
                Save Changes
            {% else %}
                Create Event
            {% endif %}
        </button>
    </form>
</div>
{% endblock %}
