{% extends "schedules/base.html" %}

{% block title %}Your Events{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Your Events</h2>
    <ul class="list-group">
        {% for event in events %}
            <li class="list-group-item">
                <div class="event">
                    <h3>{{ event.title }}</h3>
                    <p>{{ event.date }} from {{ event.start_time }} to {{ event.end_time }}</p>
                    <p>{{ event.description }}</p>
                    {% if event.is_shared %}<p><strong>Shared</strong></p>{% endif %}
                  </div>
                <a href="{% url 'event_edit' event.id %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'event_delete' event_id=event.pk %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this event?')">Delete</a>
                <a href="{% url 'share_event' event_id=event.pk %}" class="btn btn-info btn-sm">Share</a>
            </li>
        {% empty %}
            <p>No events found.</p>
        {% endfor %}
    </ul>
    <a href="{% url 'event_create' %}" class="btn btn-success mt-3">Create New Event</a>
</div>
{% endblock %}


